.DS_Store
.idea
*.log
tmp/

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.cpcache

.lsp/
.import/

dist/
/.clj-kondo/.cache
/.lsp

.gut_editor_config.json
