{:paths ["src"]
 :tasks
 {:requires ([bb-godot.tasks :as tasks])

  watch  tasks/watch
  pixels tasks/pixels
  is-mac (do (println "eh?" (tasks/is-mac?)))
  ;; serve  tasks/serve

  ;; build-web
  ;; (shell-and-log
  ;;   {:dir "./Game"}
  ;;   "godot --export HTML5 ../build/index.html")
  ;; serve-web (shell-and-log "bb serve -d ./build")

  ;; build-and-serve {:depends [build-web serve-web]}
  ;; deploy-web      (shell-and-log "aws s3 sync build/ s3://protomoon.russmatney.com")

  install-addons
  (tasks/install-addons
    {"behavior_tree" "kagenash1/godot-behavior-tree/addons/behavior_tree"})
